<style>
    .tab-plugin__content{ display: none; }
    .tab-plugin__content--active{ display: block;  }
    .topmenu__body {
      
    }
    .nw-menusub__ul { padding: 0; margin: 0; list-style: none; padding-right: 15px; }
    .nm-menusub__sub-tbl { display: table; width: 100%; }
    .nm-menusub__sub-cell { display: table-cell; vertical-align: top; width: 33%; }
    .nw-menusub__cell-wide .nm-menusub__sub-cell { width: 25%; }
    .nw-menusub__li { position: relative; background-color: #fbfbfb; border: 1px dashed #ccc; padding: 5px 10px; display: block; margin: 5px 0; margin-left: 20px; }
    .nw-menusub__li--big { margin-left: 0; }
    .nw-menusub__li .topmenu__a { display: inline-block; text-decoration: none; border-bottom: 1px dashed green; padding-bottom: 3px; margin-right: 40px; }
    .nw-menusub__li--big .topmenu__a { display: inline-block; text-decoration: none; border-bottom: 1px dashed green; padding-bottom: 3px; font-size: 15px;  text-transform: uppercase; font-weight: bold; margin-right: 40px; }
    .nw-menusub__li:first-child { margin-top: 0; }
    .nw-menusub__title { text-align: center;font-size: 16px;text-transform: uppercase;font-weight: bold; }
    .nm-menusub__brands-tbl {  }
    .nm-menusub__brands-row { display: table; width: 100%; margin-bottom: 5px; }
    .nm-menusub__brand-cell { display: table-cell; vertical-align: middle; background-color: #fbfbfb; border: 1px dashed #ccc; padding: 5px 10px; text-align: left; position: relative; width: 16%; }
    .nm-menusub__brand-cell .topmenu__a { margin-right: 55px; display: inline-block; }
    .topmenu__ul {
        list-style: none;
        display: table-cell;
        padding: 0;
        margin: 0;
        width: 25%;
        padding: 5px;
    }

    .topmenu__li--new {
        background-color: #edffd2;
        border: 1px solid green;
    }
    .topmenu__li--new .topmenu__a {
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px dashed green;
        padding-bottom: 3px;
    }
    .topmenu__bl-li {
        padding-right: 45px;
    }
    .topmenu__item {
        display: none;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        margin-top: 10px;
        border: 1px solid #aaa;
        padding: 5px;
    }
    .topmenu__bl-li-instr {
        position: absolute;
        right: 0;
    }

    .t-item__row {
        margin-top: 10px;
    }
    .t-item__row:first-child {
        margin-top: 0;
    }
    .form__input {
        width: 100%;
        box-sizing: border-box;
        padding: 5px 10px;
        border: 1px solid #000;
    }
    .t-item__nm {
        display: inline-block;
    }
    .t-item__vl {
        display: inline-block;
    }
    .t-item__vl--wide {
        width: 100%;
    }
    .t-item__c-tb {
        display: table;
        width: 100%;
    }
    .t-item__cell {
        display: table-cell;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-right: 10px;
    }
    .t-item__cell--submit {
        width: 60%;
        padding-right: 0;
        text-align: right;
    }
    .form__input--small {
        width: 60px;

    }
    .topmenu__footer .topmenu__body {
        background-color: #eee7de;
        border-left: 5px solid #f60;
        border-right: 5px solid #f60;
        padding: 10px 20px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .nw-menusub__li--hide, .nm-menusub__brand-cell--hide { opacity: 0.2; }
</style>
<h1>Меню в шапке</h1>

<ul class="tabs j-tabs-header">
    {if $aMenus}
        {$ic = 0}
        {foreach $aMenus as $oMenu}
            <li {if $ic == 0}class="selected"{/if}>
                <a href="javascript:void(null)" class="j-tab-header">{$oMenu.name}</a>
            </li>
            {$ic = $ic + 1}
        {/foreach}

    {/if}
    {*<li>
        <a href="javascript:void(null)" class="j-tab-header tab__header--new-a">Добавить новое</a>
    </li>*}
</ul>
<div class="tab-content">
    {if $aMenus}
        {$jic = 0}
        {foreach $aMenus as $oMenu}
            <div class="block double-padded tab-plugin__content {if $jic == 0}tab-plugin__content--active{/if}">
                <h2>Пункты меню первого уровня "{$oMenu.name}"</h2>
                <div class="topmenu">
                    <div class="j-form-topmenu-level1"> </div>
                    <div class="topmenu__body">
                        {if isset($oMenu.tree)}
                            {$stlb = 4}
                            {$all_m_t = 0}
                            {foreach $oMenu.tree as $oSub}
                                {$all_m_t = $all_m_t + 1}
                                {if isset($oSub.tree)}
                                    {foreach $oSub.tree as $oSubSub}
                                        {$all_m_t = $all_m_t + 1}
                                    {/foreach}
                                {/if}
                            {/foreach}
                            {$all_m_t = $all_m_t + 1}
                            {$all_m = ceil($all_m_t / $stlb)}
                            {$ic = 0}
                            <div class="nw-menusub__cell nw-menusub__cell-wide">
                                <div class="nm-menusub__sub-tbl">
                                    <div class="nm-menusub__sub-cell">
                                        <ul class="nw-menusub__ul">
                                            {foreach $oMenu.tree as $oSub}
                                                <li class="nw-menusub__li nw-menusub__li--big j-block-menu--{$oSub.id} {if $oSub.hide == 1}nw-menusub__li--hide{/if}">
                                                    <div class="topmenu__bl-li">
                                                        <div class="topmenu__bl-li-instr">
                                                            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-add-l1" data-parent="{$oSub.id}" title="Добавить новый пункт"><i class="icon16 add"></i></a>
                                                            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-edit-l1" data-id="{$oSub.id}" title="изменить"><i class="icon16 edit"></i></a>
                                                            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-del-l1" data-id="{$oSub.id}" title="удалить"><i class="icon16 delete"></i></a>
                                                        </div>
                                                        <a href="{$oSub.url}" target="_blank" class="topmenu__a j-link-{$oSub.id}">{$oSub.name}</a>
                                                    </div>
                                                </li>
                                                {$ic = $ic + 1}
                                                {if $ic % $all_m == 0 && $ic < $all_m_t}
                                                    </ul>
                                                    </div>
                                                    <div class="nm-menusub__sub-cell">
                                                    <ul  class="nw-menusub__ul">
                                                {/if}
                                                {if isset($oSub.tree) && count($oSub.tree) > 0}
                                                    {foreach $oSub.tree as $oSubSub}
                                                        <li class="nw-menusub__li  j-block-menu--{$oSub.id} {if $oSubSub.hide == 1}nw-menusub__li--hide{/if}" >
                                                            <div class="topmenu__bl-li-instr">
                                                                {if $oSubSub.hide == 1}
                                                                    <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-act-l1" data-id="{$oSubSub.id}" title="Активировать"><i class="icon16 status-red-tiny"></i></a>
                                                                {else}
                                                                    <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-deact-l1" data-id="{$oSubSub.id}" title="Деактивировать"><i class="icon16 status-green-tiny"></i></a>
                                                                {/if}
                                                                <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-edit-l1" data-id="{$oSubSub.id}"  title="изменить"><i class="icon16 edit"></i></a>
                                                                <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-del-l1" data-id="{$oSubSub.id}" title="удалить"><i class="icon16 delete"></i></a>
                                                            </div>
                                                            <a href="{$oSubSub.url}" target="_blank" class="topmenu__a j-link-{$oSubSub.id}">{$oSubSub.name}</a>
                                                        </li>
                                                       
                                                        {$ic = $ic + 1}
                                                        {if $ic % $all_m == 0 && $ic < $all_m_t}
                                                            </ul>
                                                            </div>
                                                            <div class="nm-menusub__sub-cell">
                                                            <ul  class="nw-menusub__ul">
                                                        {/if}
                                                    {/foreach}
                                                {/if}
                                                
                                            {/foreach}
                                            <li class="nw-menusub__li nw-menusub__li--big topmenu__li--new">
                                                <div class="topmenu__bl-li">
                                                    <a href="javascript:void(null)" class="topmenu__a j-add-topmenu" data-parent="{$oMenu.id}" onClick="showHideEdit($(this), 0)"><i class="icon16 add"></i>Добавить новый</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {else}
                            <ul class="topmenu__ul">
                                <li class="topmenu__li topmenu__li--new">
                                    <div class="topmenu__bl-li">
                                        <a href="javascript:void(null)" class="topmenu__a" onClick="showHideEdit($(this), 0)"><i class="icon16 add"></i>Добавить новый</a>
                                    </div>
                                </li>
                            </ul>
                        {/if}
                    </div>
                </div>
                <div class="topmenu topmenu__footer">
                    <h2>Пункты меню брендов "{$oMenu.name}"</h2>
                    <div class="topmenu__body">
                        {if isset($oMenu.brands)}
                            <div class="nw-menusub__cell nw-menusub__cell--brands">
                                <div class="nm-menusub__brands">
                                    <div class="nm-menusub__brands-tbl">
                                        <div class="nm-menusub__brands-row">
                                            {$ic = 0}
                                            {$all_brnd = count($oMenu.brands)}
                                            {foreach $oMenu.brands as $oMenuBrand}
                                                <div class="nm-menusub__brand-cell {if $oMenuBrand.hide == 1}nm-menusub__brand-cell--hide{/if}">
                                                    <div class="topmenu__bl-li-instr">
                                                        {if $oMenuBrand.hide == 1}
                                                            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-act-l1" data-id="{$oMenuBrand.id}"  title="Активировать"><i class="icon16 status-red-tiny"></i></a>
                                                        {else}
                                                            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-deact-l1" data-id="{$oMenuBrand.id}" title="Деактивировать"><i class="icon16 status-green-tiny"></i></a>
                                                        {/if}
                                                        <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-edit-l1" data-id="{$oMenuBrand.id}" title="изменить"><i class="icon16 edit"></i></a>
                                                        <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-del-l1" data-id="{$oMenuBrand.id}" title="удалить"><i class="icon16 delete"></i></a>
                                                    </div>
                                                    <a href="{$oMenuBrand.url}" target="_blank" {if isset($oMenuBrand.img) && $oMenuBrand.img != ""}data-isrc="{$oMenuBrand.img}"{/if} class="topmenu__a j-link-{$oMenuBrand.id}">{$oMenuBrand.name}</a>
                                                </div>
                                                {$ic = $ic + 1}
                                                {if $ic % 6 == 0 && $ic < $all_brnd}
                                                    </div>
                                                    <div class="nm-menusub__brands-row">
                                                {/if}
                                            {/foreach}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {else}
                            {*<ul class="topmenu__ul">
                                <li class="topmenu__li topmenu__li--new">
                                    <div class="topmenu__bl-li">
                                        <a href="javascript:void(null)" class="topmenu__a" onClick="showHideEdit($(this), 0, 2)"><i class="icon16 add"></i>Добавить новый Бренд</a>
                                    </div>
                                    
                                </li>
                            </ul>*}
                        {/if}
                    </div>
                </div>
            </div>
            {$jic = $jic + 1}
        {/foreach}
    {/if}
</div>
<script>
    function changeTpsForm(el) {
        if (el.val() == "link") {
            $(".tps-dop-link").hide();
        } else if(el.val() == "full") {
            $(".tps-dop-link").show();
            $(".tps-dop-full").show();
            $(".tps-dop-filt").hide();
        } else if(el.val() == "filt") {
            $(".tps-dop-link").show();
            $(".tps-dop-full").hide();
            $(".tps-dop-filt").show();
        }
    }
    function changeActMenuTp(bl, hide, id) {
        if (bl.hasClass("nm-menusub__brand-cell") || (bl.hasClass("nw-menusub__li") && !bl.hasClass("nw-menusub__li--big"))) {
            if (bl.hasClass("nw-menusub__li")) {
                var cl_to = "nw-menusub__li--hide";    
            } else {
                var cl_to = "nm-menusub__brand-cell--hide";
            }
            
            if (hide == 1) {
                var a_link = bl.find(".j-topmenu-deact-l1");
                a_link.addClass("j-topmenu-act-l1").removeClass("j-topmenu-deact-l1");
                a_link.find("i").addClass("status-red-tiny").removeClass('status-green-tiny');
                a_link.parent().parent().addClass(cl_to);
            } else {
                var a_link = bl.find(".j-topmenu-act-l1");
                a_link.removeClass("j-topmenu-act-l1").addClass("j-topmenu-deact-l1");
                a_link.find("i").removeClass("status-red-tiny").addClass('status-green-tiny');
                a_link.parent().parent().removeClass(cl_to);
                 
            }
        } else if (bl.hasClass("nw-menusub__li--big")) {
            
            if (hide == 1) {
                bl.addClass("nw-menusub__li--hide");
            } else {
                bl.removeClass("nw-menusub__li--hide");
            }
        }
        
        return true;
    }
    function setActDeactMenu(a_link, id, act) {
        $.post("?plugin=topmenu&module=settings&action=save", { oper_type: "set_act", id: id, act: act }, function(resp) {
            if (resp.status == "ok") {
                if (resp.data.ok == 1)  {
                    if (a_link.parent().parent().hasClass("nw-menusub__li")) {
                        var cl_to = "nw-menusub__li--hide";    
                    } else {
                        var cl_to = "nm-menusub__brand-cell--hide";
                    }
                    if (act == 1) {
                        a_link.removeClass("j-topmenu-act-l1").addClass("j-topmenu-deact-l1");
                        a_link.find("i").removeClass("status-red-tiny").addClass('status-green-tiny');
                        a_link.parent().parent().removeClass(cl_to);    
                    } else {
                        a_link.addClass("j-topmenu-act-l1").removeClass("j-topmenu-deact-l1");
                        a_link.find("i").addClass("status-red-tiny").removeClass('status-green-tiny');
                        a_link.parent().parent().addClass(cl_to); 
                    }
                }
            }
            if (resp.errors) {
                alert(resp.errors);
            }
        });
    }
    $('body').on('click','.j-tab-header',function(event){
        if (!$(this).hasClass("tab__header--new-a")) {
            var li_par = $(this).parent();
            if(li_par.hasClass('selected') == false){
                var ind = li_par.index();
                $('.j-tabs-header').find('li').removeClass('selected');
                li_par.addClass('selected');
                $('.tab-plugin__content').removeClass('tab-plugin__content--active');
                $('.tab-plugin__content').eq(ind).addClass('tab-plugin__content--active');
            }    
        } else {
            alert("Новый пункт");
        }
    });
    $('body').on('click', '.j-topmenu-act-l1', function(event) {
        var a_link = $(this);
        var id = parseInt(a_link.data("id"));
        if (!isNaN(id) && id > 0) {
            setActDeactMenu(a_link, id, 1);
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });
    $('body').on('click', '.j-topmenu-deact-l1', function(event) {
        var a_link = $(this);
        var id = parseInt(a_link.data("id"));
        if (!isNaN(id) && id > 0) {
            setActDeactMenu(a_link, id, 0);
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });
    $('body').on('click', '.j-topmenu-del-l1', function(event) {
        var a_link = $(this);
        var id = parseInt(a_link.data("id"));
        if (!isNaN(id) && id > 0) {
            if (confirm("Вы точно хотите удалить пункт меню?")) {
                $.post("?plugin=topmenu&module=settings&action=save", { oper_type: "del_menu", id: id }, function(resp) {
                    if (resp.status == "ok") {
                        if (resp.data.tp) {
                            if (resp.data.tp == 2) {
                                a_link.parent().parent().remove();
                            } else if (resp.data.tp == 4) {
                                a_link.parent().addClass().html('nm-menusub__brand-cell--hide');
                            } else if (resp.data.tp == 1) {
                                $(".j-block-menu--" + id).remove();
                            }
                        }
                    }

                    if (resp.errors) {
                        alert(resp.errors);
                    }
                });
            }
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });

    function showEditFromMenu(id, parent, level) {
        var mydiag = {
            content: '<h1>Форма меню <i class="icon16 loading"></i></h1>',
            url: '/webasyst/shop/?plugin=topmenu&module=backend&action=form',
            buttons: '<input type="button" class="button gray j-topmenu-form-cancel" onClick="$.wa.dialogHide(\'topmenuForm\');" value="Закрыть">',
            post: { 
                id: id,
                parent: parent,
                level: level
            },
            onload: function(){
            },
        };
        $.wa.dialogCreate('topmenuForm',mydiag);
        
    }
    $('body').on('click', '.j-topmenu-add-l1', function(event) {
        var a_link = $(this);
        var parent = parseInt(a_link.data("parent"));
        if (!isNaN(parent) && parent > 0) {
            showEditFromMenu(0, parent, 2);
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });
    $('body').on('click', '.j-add-topmenu', function(event) {
        var a_link = $(this);
        var parent = parseInt(a_link.data("parent"));
        if (!isNaN(parent) && parent > 0) {
            showEditFromMenu(0, parent, 1);
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });

    $('body').on('click', '.j-topmenu-edit-l1', function(event) {
        var a_link = $(this);
        var id = parseInt(a_link.data("id"));
        if (!isNaN(id) && id > 0) {
            showEditFromMenu(id, 0, 0);
        } else {
            alert("Утерян идентификатор пункта меню");
        }
        return false;
    });
    
    function saveTopmenuForm(el) {
        var f = el.closest("form");
        $.post(f.attr("action"), f.serialize(), function(resp) {
            if (resp.status == "ok") {
                var id = resp.data.id;
                var a_link = $(".j-link-" + id);
                
                if (resp.data.topmenu) {
                    var topmenu = resp.data.topmenu;
                    if (topmenu.level != 4) {
                        var bl = a_link.closest("li");
                    } else {
                        var bl = a_link.closest(".nm-menusub__brand-cell");
                    }
                    a_link.text(topmenu.name);
                    a_link.attr('href', topmenu.url);
                    if (topmenu.level == 1) {
                        if (bl.hasClass("nw-menusub__li--hide")) {
                            var hide_old = 1;
                        } else {
                            var hide_old = 0;
                        }
                    } else {
                        if (bl.find(".j-topmenu-deact-l1").length > 0) {
                            var hide_old = 0;
                        } else {
                            var hide_old = 1;
                        }    
                    }
                    
                    if (hide_old != topmenu.hide) {
                        changeActMenuTp(bl, topmenu.hide, id);
                    }

                    $.wa.dialogHide('topmenuForm');
                }
            }
            if (resp.errors) {
                alert(resp.errors);
            }
        });
    }

    function addTopmenuForm(el) {
        var f = el.closest("form");
        $.post(f.attr("action"), f.serialize(), function(resp) {
            if (resp.status == "ok") {
                window.location.reload();
            }
            if (resp.errors) {
                alert(resp.errors);
            }
        });
    }
</script>