{if $error}
	<div class="error-text">{$error}</div>
{else}
	<div class="topmenu-form">
		
		{if isset($oTopmenu)}
			<h2>Изменить пункт</h2>
			<form action="?plugin=topmenu&module=settings&action=save" method="post" name="topmenu_save">
				<input type="hidden" name="topmenu[id]" value="{$oTopmenu.id}">
				<input type="hidden" name="oper_type" value="new_save">
				
				{$wa->csrf()}
				<div class="field-group">
					<div class="field">
						<div class="name">Название пункта</div>
						<div class="value">
							<input type="text" name='topmenu[name]' value='{$oTopmenu.name}'>
						</div>
					</div>
					<div class="field">
						<div class="name">Url</div>
						<div class="value">
							<input type="text" name='topmenu[url]' value='{$oTopmenu.url}'>
						</div>
					</div>
					<div class="field">
						<div class="name">Сортировка</div>
						<div class="value">
							<input type="text" name='topmenu[sort_order]' value='{$oTopmenu.sort_order}'>
						</div>
					</div>
					<div class="field">
						<div class="name">Скрыть</div>
						<div class="value">
							<input type="checkbox" name="topmenu[hide]" value="1" {if $oTopmenu.hide == 1}checked{/if}>
						</div>
					</div>
					{if isset($aParents) && $oTopmenu.level != 4}
						<div class="field">
							<div class="name">Родительский пункт</div>
							<div class="value">
								<select name="topmenu[parent_id]">
									{foreach $aParents as $oParent}
										<option value="{$oParent.id}" {if $oParent.id == $oTopmenu.parent_id}selected{/if}>{$oParent.name}</option>
									{/foreach}
								</select>
							</div>
						</div>
					{/if}
					{if $oTopmenu.tp == 'full'}
						<div class="field">
							<div class="name">Базовая id категории магазина</div>
							<div class="value">
								<input type="text" name='topmenu[categ_id]' value='{$oTopmenu.categ_id}'>
								{if isset($oCateg) && $oCateg}
									<p class="hint"><a href='/webasyst/shop/?action=products#/products/category_id={$oTopmenu.categ_id}' target='_blank'>{$oCateg.name}</a></p>
								{/if}
							</div>
						</div>
					{/if}
					
				</div>
				<div class="field">
					<div class="value">
						<button class="button green j-save-topmenu-form" type="button" onClick="saveTopmenuForm($(this))" name='save_item' value="1">Сохранить</button>
					</div>
				</div>
			</form>
		{else}
			<style>
				.tps-dop-link, .tps-dop-full, .tps-dop-filt { display: none; }
			</style>
			<h2>Добавить пункт в "{$oParent.name}"</h2>
			<form action="?plugin=topmenu&module=settings&action=save" method="post" name="topmenu_save">
				<input type="hidden" name="oper_type" value="new_add">
				<input type="hidden" name="topmenu[level]" value="{$level}">
				<input type="hidden" name="topmenu[parent_id]" value="{$oParent.id}">
				{$wa->csrf()}
				<div class="field-group">
					<div class="field">
						<div class="name">Название пункта</div>
						<div class="value">
							<input type="text" name='topmenu[name]' value=''>
						</div>
					</div>
					<div class="field">
						<div class="name">Url</div>
						<div class="value">
							<input type="text" name='topmenu[url]' value=''>
						</div>
					</div>
					<div class="field">
						<div class="name">Сортировка</div>
						<div class="value">
							<input type="text" name='topmenu[sort_order]' value=''>
						</div>
					</div>
					<div class="field">
						<div class="name">Скрыть</div>
						<div class="value">
							<input type="checkbox" name="topmenu[hide]" value="1">
						</div>
					</div>
					<div class="field">
						<div class="name">Тип пункта</div>
						<div class="value">
							<select name="topmenu[tp]" onChange="changeTpsForm($(this));">
								{foreach $tps as $tp_key => $tp_name}
									<option value="{$tp_key}" {if $tp_key == $topmenu_new.tp}selected{/if}>{$tp_name}</option>
								{/foreach}
							</select>
						</div>
					</div>
					<div class="tps-dop tps-dop-link">
						<div class="field">
							<div class="name tps-dop-full">Категория</div>
							<div class="name tps-dop-filt" >Фильтр</div>
							<div class="value">
								<input type="text" name='topmenu[categ_id]' value=''>
							</div>
						</div>
						<div class="tps-dop__bl"></div>
					</div>
					
				</div>
				<div class="field">
					<div class="value">
						<button class="button green j-save-topmenu-form" type="button" onClick="addTopmenuForm($(this))" name='add_item' value="1">Сохранить</button>
					</div>
				</div>
			</form>
		{/if}
	</div>
{/if}
