{if $oItem}
	<li class="topmenu__li">
	    <div class="topmenu__bl-li">
	        <div class="topmenu__bl-li-instr">
	            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-edit-l1" onClick="showHideEdit($(this), {$oItem.id})" title="изменить"><i class="icon16 edit"></i></a>
	            <a href="javascript:void(null)" class="topmenu__bl-a j-topmenu-del-l1" title="удалить" onClick="deleteItem($(this), {$oItem.id})"><i class="icon16 delete"></i></a>
	        </div>
	        <a href="{$oItem.url}" target="_blank" class="topmenu__a j-link-{$oItem.id}">{$oItem.name}</a>
	        
	    </div>
	    
	    <div class="topmenu__item t-item t-item--{$oItem.id}">
	        <form name="topmenu__form" class="topmenu__form j-form-topmenu j-form-topmenu--{$oItem.id}" method='post' action="?plugin=topmenu&module=settings&action=save">
	            {$wa->csrf()}
	            <input type="hidden" name='topmenu[parent_id]' class="j-id-topmenu" value='{$oItem.parent_id}'>
	            <input type="hidden" name='topmenu[level]' value='{$oItem.level}'>
	            <input type="hidden" name='oper_type' value="save_level">
	            <div class="t-item__row">
	                <div class="t-item__vl t-item__vl--wide">
	                    <input type="text" class="form__input" placeholder="Название" name="topmenu[items][{$oItem.id}][name]" value="{$oItem.name}">
	                </div>
	            </div>
	            <div class="t-item__row">
	                <div class="t-item__vl t-item__vl--wide">
	                    <input type="text" class="form__input" placeholder="Ссылка" name="topmenu[items][{$oItem.id}][url]" value="{$oItem.url}">
	                </div>
	            </div>
	            <div class="t-item__row">
	                <div class="t-item__c-tb">
	                    <div class="t-item__cell">
	                        <input type="text" class="form__input form__input--small" placeholder="0" name="topmenu[items][{$oItem.id}][sort_order]" value="{$oItem.sort_order}">
	                        <span class="hint">Сортировка</span>
	                    </div>
	                    <div class="t-item__cell t-item__cell--submit">
	                        <button type="button" class="button green j-save-topmenu-item" value="1" name="topmenu_save_item">Сохранить</button>
	                    </div>
	                </div>
	            </div>
	        </form>
	    </div>
	</li>
{/if}